/*!
 * Jesse Frausto
 * 
 * simple CSS style adjustments for my own digital portfolio
 *
 *
 * */

body {
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}

a:link, a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #F1E611;
}

a:active {
    background-color: #F1E611;
}

#banner {
    background-image: url(../images/GBnews.jpg);
    width: 960px;
    height: 200px;
    
}

#pop {
    color: #F1E611;
}

#aboutme {
    background-color: #574F4E;
    
}

#aboutme2 {
    background-color: #574F4E;
}

#projects {
    background-color: #574F4E;
}

#navbar {
    background-color: #000000;
}

#contact {
    background-color: #000000;
}