/*!
 *
 * simple CSS style adjustments for my own digital portfolio
 *
 *
 * */

body {
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}


#banner {
    background-image: url(../images/GBnews.jpg);
    width: 960px;
    height: 200px;
    
}


#aboutme {
    background-color: #574F4E;
    
}

#navbar {
    background-color: #000000;
}

#contact {
    background-color: #000000;
}